<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>YandexLoginSDK</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yxd1bde9dcd612410e88a4a3f9fef7721c</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>CloudPayments Demo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
        <string>tinkoffbank</string>
		<string>yandexauth</string>
		<string>yandexauth2</string>
		<string>mailto</string>
		<string>tel</string>
        <string>bank100000000001</string>
        <string>bank100000000003</string>
        <string>bank100000000004</string>
        <string>bank100000000005</string>
        <string>bank100000000006</string>
        <string>bank100000000007</string>
        <string>bank100000000008</string>
        <string>bank100000000009</string>
        <string>bank100000000010</string>
        <string>bank100000000011</string>
        <string>bank100000000012</string>
        <string>bank100000000013</string>
        <string>bank100000000014</string>
        <string>bank100000000015</string>
		<string>bank100000000016</string>
		<string>bank100000000017</string>
		<string>bank100000000018</string>
		<string>bank100000000020</string>
		<string>bank100000000022</string>
		<string>bank100000000024</string>
		<string>bank100000000025</string>
		<string>bank100000000026</string>
		<string>bank100000000027</string>
		<string>bank100000000028</string>
		<string>bank100000000029</string>
		<string>bank100000000030</string>
		<string>bank100000000031</string>
		<string>bank100000000032</string>
		<string>bank100000000034</string>
		<string>bank100000000036</string>
		<string>bank100000000037</string>
		<string>bank100000000040</string>
		<string>bank100000000043</string>
		<string>bank100000000044</string>
		<string>bank100000000045</string>
		<string>bank100000000046</string>
		<string>bank100000000047</string>
		<string>bank100000000049</string>
		<string>bank100000000052</string>
		<string>bank100000000056</string>
		<string>bank100000000058</string>
		<string>bank100000000059</string>
		<string>bank100000000062</string>
		<string>bank100000000064</string>
		<string>bank100000000065</string>
		<string>bank100000000066</string>
        <string>bank100000000230</string>
        <string>bank100000000231</string>
        <string>bank100000000232</string>
        <string>bank100000000233</string>
        <string>bank100000000235</string>
        <string>bank100000000236</string>
        <string>bank100000000239</string>
        <string>bank100000000243</string>
        <string>bank100000000246</string>
        <string>bank100000000247</string>
        <string>bank100000000248</string>
        <string>bank100000000250</string>
        <string>bank100000000253</string>
        <string>bank100000000258</string>
        <string>bank100000000272</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Камера</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
